.row{ id: "tweets_details" }
  .col-md-3.text-center
    %p= token.metric.user_rated
    .small= t("filter.user_public")
  .col-md-2.text-center.text-primary
    %p= token.metric.user_rated_positive
    .small= t("positive")
  .col-md-2.text-center.text-muted
    %p= token.metric.user_rated_neutral
    .small= t("neutral")
  .col-md-2.text-center.text-danger
    %p= token.metric.user_rated_negative
    .small= t("negative")
  .col-md-3.text-center
    %p= token.metric.amount
    .small= t("total")
