.ui-group-buttons
  - if wrong_svm_rate == Tweet::POSITIVE
    = link_to t('landing.answer.neutral'), token_validate_path(params[:token_id], tweet, validate_neutral_params), remote: true, method: :put, class: 'btn btn-default', data: { disable_with: t('wait') }
    .or
    = link_to t('landing.answer.negative'), token_validate_path(params[:token_id], tweet, validate_negative_params), remote: true, method: :put, class: 'btn btn-danger', data: { disable_with: t('wait') }

  - if wrong_svm_rate == Tweet::NEUTRAL
    = link_to t('landing.answer.positive'), token_validate_path(params[:token_id], tweet, validate_positive_params), remote: true, method: :put, class: 'btn btn-primary', data: { disable_with: t('wait') }
    .or
    = link_to t('landing.answer.negative'), token_validate_path(params[:token_id], tweet, validate_negative_params), remote: true, method: :put, class: 'btn btn-danger', data: { disable_with: t('wait') }

  - if wrong_svm_rate == Tweet::NEGATIVE
    = link_to t('landing.answer.positive'), token_validate_path(params[:token_id], tweet, validate_positive_params), remote: true, method: :put, class: 'btn btn-primary', data: { disable_with: t('wait') }
    .or
    = link_to t('landing.answer.neutral'), token_validate_path(params[:token_id], tweet, validate_neutral_params), remote: true, method: :put, class: 'btn btn-default', data: { disable_with: t('wait') }
