%table.table
  %thead
    %tr
      %th
      %th.small= Token.human_attribute_name(:word)
      %th.small.text-center= Token.human_attribute_name(:updated_at)
      %th.small.text-center= Token.human_attribute_name(:collect_at)
      %th.small.text-center= Tweet.model_name.human
      %th.small.text-center= "User / SVM"
      %th.small.text-center= t("tweets.options_for_filter_date.last_3_hours")
      %th.small.text-center= t("tweets.options_for_filter_date.last_12_hours")
      %th.small.text-center= t("tweets.options_for_filter_date.last_24_hours")
      %th.small.text-center= t("tweets.options_for_filter_date.last_3_days")
      %th.small.text-center= t("tweets.options_for_filter_date.last_7_days")
      %th.small.text-center= t("tokens.show.tweets_to_delete")
      %th.small.text-center= Token.human_attribute_name(:keep_cron_crawler)
  %tbody
    - tokens.each do |token|
      %tr
        %td.small.text-center{ class: "#{ token.enable ? 'success' : 'danger' }" }= token.id
        %td.small= link_to token.word, token_tweets_path(token.uuid)
        %td.small.text-center= token.metric.updated_at
        %td.small.text-center
          = t('admin.minutes_ago', time: TimeDifference.between(Time.zone.now, token.collect_at).in_minutes) if token.collect_at
        %td.small.text-center= token.metric.amount
        %td.small.text-center= "#{token.metric.user_rated} / #{token.metric.svm_rated}"
        %td.small.text-center= token.metric.last_3_hours
        %td.small.text-center= token.metric.last_12_hours
        %td.small.text-center= token.metric.last_24_hours
        %td.small.text-center= token.metric.last_3_days
        %td.small.text-center= token.metric.last_7_days
        %td.small.text-center= token.metric.tweets_to_delete
        %td.small.text-center{ class: "#{ token.keep_cron_crawler ? 'success' : 'danger' }" }
          .glyphicon{ class: "glyphicon-#{ token.keep_cron_crawler ? 'ok' : 'remove' }" }
