= form_for @token do |f|
  .row
    .col-sm-3.floating.text-right
      %h5= f.label :lang
    .col-sm-9
      = f.select :lang, options_for_languages, {}, class: "form-control"

  .row
    .col-sm-3.floating.text-right
      %h5= f.label :word
    .col-sm-9
      = f.text_field :word, class: "form-control", required: true

  - if current_user.admin?
    .row
      .col-sm-3.floating.text-right
        %h5= f.label :username
      .col-sm-9
        = f.text_field :username, class: "form-control"

    .row
      .col-sm-3.floating.text-right
        %h5= f.label :category_id
      .col-sm-9
        = f.select :category_id, options_for_categories, { include_blank: t("categories.title") }, class: "form-control"

  .row
    .col-sm-3.floating.text-right
      %h5= f.label :avatar
    .col-sm-9
      = f.text_field :avatar, class: "form-control"

  .row
    %br
    .col-xs-12.col-sm-6.col-sm-offset-3
      = f.submit t('create'), class: "btn btn-tw btn-block", data: { disable_with: t("wait") }
    .col-xs-12.col-sm-3
      = link_to t("cancel"), tokens_path, class: "btn btn-default btn-block"
