- if tokens.any?
  .col-xs-12{ id: "tokens_listing" }
    %table.table
      %thead
        %tr
          %th= Token.human_attribute_name(:word)
          %th.text-center= Token.human_attribute_name(:lang)
          %th.text-center= Tweet.model_name.human
          %th.text-center= Token.human_attribute_name(:accuracy)
          %th.text-center= Token.human_attribute_name(:keep_cron_crawler)
          %th
      %tbody
        - tokens.each do |token|
          %tr
            %td= link_to token.word, token_collect_index_path(token.uuid)
            %td.text-center= t("languages.#{ token.lang }")
            %td.text-center= token.statistics.amount
            %td.text-center= token.accuracy_human
            %td.text-center{ class: "#{ token.keep_cron_crawler ? 'success' : 'danger' }" }
              .glyphicon{ class: "glyphicon-#{ token.keep_cron_crawler ? 'ok' : 'remove' }" }
            %td.text-center= link_to t("explore"), token_collect_index_path(token.uuid), class: "btn btn-xs btn-default"
- else
  .col-sm-12
    .panel.panel-default
      .panel-body.text-center
        = t("alerts.zero_tokens")
