- if @token.lang != 'all'
  .alert.bg-warning= t('alerts.set_language_by_user_html', lang: t("languages.#{@token.lang}"))
- else
  .row
    .col-xs-12.col-sm-5
      = render partial: 'tweets/filter', locals: { path: token_languages_path(params[:token_id]) }
      #chart_xs.hidden-sm.hidden-md.hidden-lg
      = render partial: 'languages', locals: { languages: @languages }

  = render partial: 'charts/pie', locals: { options: @chart_options }
