%h1
  .small= t('landing.how_classify', token: @token.word)

.col-sm-4.center-wrapper.hidden-xs
  .border-btn
    = link_to classify_token_dashboard_path(token.uuid, tweet.uuid, positive_params), method: :patch, class: 'btn-positive', data: { disable_with: t('landing.answer.positive') } do
      = t('landing.answer.positive')

.col-sm-4
  %blockquote.twitter-tweet
    = tweet.text
    %a{ href: tweet.url }

.col-sm-4.center-wrapper.hidden-xs
  .border-btn
    = link_to classify_token_dashboard_path(token.uuid, tweet.uuid, negative_params), method: :patch, class: 'btn-negative', data: { disable_with: t('landing.answer.negative') } do
      = t('landing.answer.negative')

.col-xs-12.hidden-md.hidden-sm.hidden-lg.text-center
  %br
  .border-btn
    = link_to classify_token_dashboard_path(token.uuid, tweet.uuid, positive_params), method: :patch, class: 'btn-positive-xs', data: { disable_with: t('landing.answer.positive') } do
      = t('landing.answer.positive')

    = link_to classify_token_dashboard_path(token.uuid, tweet.uuid, negative_params), method: :patch, class: 'btn-negative-xs', data: { disable_with: t('landing.answer.negative') } do
      = t('landing.answer.negative')

.col-xs-12.text-center
  %section
    .border-btn
      = link_to classify_token_dashboard_path(token.uuid, tweet.uuid, neutral_params), method: :patch, class: 'btn-neutral', data: { disable_with: t('wait') } do
        = t('landing.answer.neutral')
