.row
  .col-sm-12
    .panel.panel-default
      .panel-body.text-center
        .col-xs-3
          %h5= token.user_rated
          = t("tokens.show.rated_by_user")
        .col-xs-3.text-primary
          %h5= token.user_rated_positive
          = t("positive")
        .col-xs-3.text-muted
          %h5= token.user_rated_neutral
          = t("neutral")
        .col-xs-3.text-danger
          %h5= token.user_rated_negative
          = t("negative")
