- tweets.each do |tweet|
  .panel.panel-default.xs-padding
    .panel-body.xs-panel
      .text-align-webkit-center
        %blockquote.twitter-tweet
          = tweet.text
          %a{ href: tweet.url }

        - if tweet.rate_open.present?
          .col-xs-6.text-center{ class: "#{tweet.rate_open}-color" }
            %h5
              %b= rate_tag(tweet.rate_open)
            = t("rate.rated")

          .col-xs-6.text-center{ class: "#{tweet.rate_svm}-color" }
            %h5
              %b= rate_tag(tweet.rate_svm)
            = t("rate.rated_by_svm")
        - else
          = render(partial: 'classify', locals: { tweet: tweet, token: @token })