.text-center
  = link_to token_mining_index_path(params[:token_id]), class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-flash
    = t('sidebar.mining')

  = link_to token_tweets_path(params[:token_id]),    class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-dashboard
    = Tweet.model_name.human

  = link_to token_locations_path(params[:token_id]), class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-globe
    = Location.model_name.human

  = link_to token_hashtags_path(params[:token_id]),  class: 'btn btn-default home-button' do
    %i #
    = Hashtag.model_name.human

  = link_to token_mentions_path(params[:token_id]),  class: 'btn btn-default home-button' do
    %i @
    = Mention.model_name.human

  = link_to token_languages_path(params[:token_id]), class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-font
    = Language.model_name.human

  = link_to token_links_path(params[:token_id]),     class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-link
    = Link.model_name.human

  = link_to token_users_path(params[:token_id]),     class: 'btn btn-default home-button' do
    %i.glyphicon.glyphicon-user
    = t('sidebar.users')

%br

- if user_signed_in? && current_user.owner?(params[:token_id])
  .text-center
    = link_to token_collect_index_path(params[:token_id]),  class: 'btn btn-default home-button' do
      = t('sidebar.collect')
    = link_to token_words_path(params[:token_id]),          class: 'btn btn-default home-button' do
      = t('sidebar.words')
    = link_to token_classify_index_path(params[:token_id]), class: 'btn btn-default home-button' do
      = t('sidebar.classify')
    = link_to token_validate_index_path(params[:token_id]), class: 'btn btn-default home-button' do
      = t('sidebar.validate')
  %br
