%nav.menu
  %input#menu-open.menu-open{href: "#", name: "menu-open", type: "checkbox"}
  %label.menu-open-button{:for => "menu-open"}
    %span.hamburger.hamburger-1
    %span.hamburger.hamburger-2
    %span.hamburger.hamburger-3
  = link_to token_tweets_path(params[:token_id]), class: 'menu-item' do
    %i.glyphicon.glyphicon-dashboard
  = link_to token_locations_path(params[:token_id]), class: 'menu-item' do
    %i.glyphicon.glyphicon-globe
  = link_to token_hashtags_path(params[:token_id]), class: 'menu-item' do
    %i #
  = link_to token_mentions_path(params[:token_id]), class: 'menu-item' do
    %i @
  = link_to token_languages_path(params[:token_id]), class: 'menu-item' do
    %i.glyphicon.glyphicon-font
  = link_to token_links_path(params[:token_id]), class: 'menu-item' do
    %i.glyphicon.glyphicon-link
  = link_to token_users_path(params[:token_id]), class: 'menu-item' do
    %i.glyphicon.glyphicon-user
